<!DOCTYPE HTML>
<html>
<head>
  <title>{{title}} Documentation{{#if version}} | {{version}}{{/if}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="generator" content="https://github.com/janrain/raml-fleece {{config.version}}">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/darkula.min.css">

  <style>
{{> style }}
  </style>
</head>
<body>
  <div id="side-navbar">
    {{> tableOfContents}}
  </div>
  <main>
    <h1 class="main-heading">{{title}}{{#if version}} {{version}}{{/if}} Documentation</h1>
    {{#if documentation}}
      <h2>Documentation</h2>
      {{#each documentation}}
        {{> documentation}}
      {{/each}}
    {{/if}}
    {{#if baseUri}}
      <h2>Base URI</h2>
      <div class="card api-metadata">
        <h3>{{baseUri}}</h3>
        {{#if baseUriParameters}}
          {{> parameters type="URI Parameters" params=baseUriParameters}}
        {{/if}}
      </div>
    {{/if}}
    {{#if securitySchemes}}
      <h2>Security Schemes</h2>
      {{#each securitySchemes}}
        {{> securityScheme}}
      {{/each}}
    {{/if}}
    <h2>Endpoints</h2>
    {{#each resources}}
      {{#if path}}
        {{> resource}}
      {{/if}}
    {{/each}}
  </main>
</body>
</html>
