<div class="params">
  <h4>{{type}} Parameters</h4>
  {{!-- {{json .}} --}}
  <dl>
  {{#each params}}
    <dt>
      <tt>{{@key}}</tt>
      <span class="pull-right">
        {{#if type}}<span class="badge">{{type}}</span>{{/if}}
        {{#if required}}<span class="badge">required</span>{{/if}}
      </span>
    </dt>
    <dd>
      {{#if description}}
        {{markdown description}}
      {{/if}}
      {{#if example}}
        <b>Example: </b>
        <code>{{example}}</code>
      {{/if}}
    </dd>
  {{/each}}
  </dl>
</div>
