<dl>
{{#each params}}
  <dt>
    <span class="param">{{@key}}</span>
    {{#if type}}<span class="badge">{{type}}</span>{{/if}}
    {{#if required}}<span class="badge">required</span>{{/if}}
  </dt>
  <dd>
    {{#if description}}
      {{markdown description}}
    {{/if}}
    {{#if enum}}
      <b>Possible values: </b>
      <ul>
      {{#each enum}}
        <li><tt>{{this}}</tt></li>
      {{/each}}
      </ul>
    {{/if}}
    {{#if example}}
      <b>Example: </b>
      <code>{{example}}</code>
    {{/if}}
  </dd>
{{/each}}
</dl>
