<div class="card resource">
<h3 class="anchor" id="{{basePath}}{{path}}">
  <a href="#{{basePath}}{{path}}">
    {{#if basePath}}<span class="parent">{{basePath}}</span>{{/if}}{{path}}
  </a>
</h3>
{{#if description}}
  <div class="description">{{markdown description}}</div>
{{/if}}
{{#if uriParameters}}
  {{> parameters type="URI" params=uriParameters}}
{{/if}}
{{#each methods}}
<div class="method">
    <a
      class="verb {{method}}"
      id="{{upper_case method}}{{../basePath}}{{../  path}}"
      href="#{{upper_case method}}{{../basePath}}{{../  path}}"
    ><span>{{method}}</span></a>
  {{#if securedBy}}
    <h4>Security</h4>
    <ul class="security-schemes">
    {{#each securedBy}}
    <li>
      <a href="#security:{{.}}">
        <span class="glyphicon glyphicon-lock"></span>
        {{name_for_security_scheme .}}
      </a>
    </li>
    {{/each}}
    </ul>
  {{/if}}
  {{#if description}}
    <h4>Description</h4>
    <p>{{markdown description}}</p>
  {{/if}}
  {{#if queryParameters}}
    {{> parameters type="Query" params=queryParameters}}
  {{/if}}
  {{#each body}}
    {{!-- Type = @key --}}
    {{#if schema}}
      <h4>Request JSON Schema</h4>
      {{json_from_string schema}}
    {{/if}}
  {{/each}}
  {{#each requestExamples}}
    {{#if .}}
      <h4>Request Example</h4>
      {{json_from_string .}}
    {{/if}}
  {{/each}}
  {{#each responses}}
    {{#if body}}
      <p>{{body}}</p>
    {{/if}}
    {{#if code}}
      <h4>{{response_code code}}</h4>
    {{/if}}
    {{#if description}}
      <p>{{description}}</p>
    {{/if}}
    {{#if schema}}
      <h4>Response JSON Schema</h4>
      {{json_from_string schema}}
    {{/if}}
    <p>{{type}}</p>
    {{#if example}}
      {{json_from_string example}}
    {{/if}}
  {{/each}}
</div>
{{/each}}
</div>
