<h1 class="endpoint anchor" id="{{basePath}}{{path}}">
  <a href="#{{basePath}}{{path}}">
    {{#if basePath}}<span class="parent">{{basePath}}</span>{{/if}}{{path}}
  </a>
</h1>
<p>{{markdown description}}</p>
{{#each methods}}
  <h2 class="anchor" id="{{upper_case method}}{{../basePath}}{{../  path}}">
    <span class="label label-default wide method {{method}}">{{method}}</span>
    <a href="#{{upper_case method}}{{../basePath}}{{../  path}}">
      {{../basePath}}<strong>{{../  path}}</strong>
    </a>
  </h2>
  {{#if description}}
    <h3>Description</h3>
    <p>{{description}}</p>
  {{/if}}
  {{#if queryParameters}}
    <h3>Parameters</h3>
    <ul>
    {{#each queryParameters}}
      <li>
        <i>({{type}})</i>
        <b><tt>{{@key}}</tt></b>
      </li>
    {{/each}}
    </ul>
  {{/if}}
  {{#each requestExamples}}
    <h3>Request Example</h3>
    {{json_from_string .}}
  {{/each}}
  {{#each responses}}
    {{body}}
    <h3>Response Code</h3>
    <p>{{response_code code}}</p>
    {{#if example}}
      <h3>Response Example</h3>
      {{json_from_string example}}
    {{/if}}
  {{/each}}
{{/each}}
