<div class="card resource">
<h3 class="anchor" id="{{basePath}}{{path}}">
  <a href="#{{basePath}}{{path}}">
    {{#if basePath}}<span class="parent">{{basePath}}</span>{{/if}}{{path}}
  </a>
</h3>
{{#if description}}
  <div class="description">{{markdown description}}</div>
{{/if}}
{{#if uriParameters}}
  {{> parameters type="URI Parameters" params=uriParameters}}
{{/if}}
{{#each methods}}
<div class="method">
    <a
      class="verb {{method}}"
      id="{{upperCase method}}{{../basePath}}{{../  path}}"
      href="#{{upperCase method}}{{../basePath}}{{../  path}}"
    ><span>{{method}}</span></a>
  {{#if description}}
    <h4>Description</h4>
    <p>{{markdown description}}</p>
  {{/if}}
  {{#if securedBy}}
    <h4>Security</h4>
    <ul class="security-schemes">
    {{#each securedBy}}
    <li>
      <a href="#security:{{.}}">
        <span class="glyphicon glyphicon-lock"></span>
        {{nameForSecurityScheme .}}
      </a>
    </li>
    {{/each}}
    </ul>
  {{/if}}
  {{#if queryParameters}}
    {{> parameters type="Query Parameters" params=queryParameters}}
  {{/if}}
  {{#each body}}
    {{!-- Type = @key --}}
    {{#if schema}}
      <h4>Request JSON Schema</h4>
      {{showCode schema type="json"}}
    {{/if}}
  {{/each}}
  {{#each requestExamples}}
    {{#if .}}
      <h4>Request Example{{#if type}} (<tt>{{type}}</tt>){{/if}}</h4>
      {{showCodeOrForm .}}
    {{/if}}
  {{/each}}
  {{#if responses}}
    <h4>Responses</h4>
    {{#each responses}}
      {{#if code}}
        <h5>{{responseCode code}}</h5>
      {{/if}}
      {{#if description}}
        {{markdown description}}
      {{/if}}
      {{#if headers}}
        {{> parameters type="Headers" params=headers}}
      {{/if}}
      {{#if schema}}
        <h5>Response JSON Schema</h5>
        {{showCode schema type="json"}}
      {{/if}}
      {{#if example}}
        <h5>
          Response Example
          {{#if type}}
            (<tt>{{type}}</tt>)
          {{/if}}
        </h5>
        {{showCode example type=type}}
      {{/if}}
    {{/each}}
  {{/if}}
</div>
{{/each}}
</div>
