<h2 class="anchor" id="{{basePath}}{{path}}">
  <a href="#{{basePath}}{{path}}">
    {{#if basePath}}<span class="parent">{{basePath}}</span>{{/if}}{{path}}
  </a>
</h2>
{{#if description}}
  <p>{{markdown description}}</p>
{{/if}}
{{#each methods}}
<div class="endpoint">
  <h3 class="anchor" id="{{upper_case method}}{{../basePath}}{{../  path}}">
    <span class="pull-right label label-default wide method {{method}}">{{method}}</span>
    <a href="#{{upper_case method}}{{../basePath}}{{../  path}}">
      {{../basePath}}<strong>{{../  path}}</strong>
    </a>
  </h3>
  {{#if description}}
    <h4>Description</h4>
    <p>{{markdown description}}</p>
  {{/if}}
  {{#if queryParameters}}
    <h4>Parameters</h4>
    <dl class="params">
    {{#each queryParameters}}
      <dt>
        <tt>{{@key}}</tt>
        <span class="pull-right">
          {{#if type}}<span class="badge">{{type}}</span>{{/if}}
          {{#if required}}<span class="badge">required</span>{{/if}}
        </span>
      </dt>
      <dd>
        {{#if description}}<p>{{description}}</p>{{/if}}
        {{#if example}}<code>{{example}}</code>{{/if}}
      </dd>
    {{/each}}
    </dl>
  {{/if}}
  {{#each requestExamples}}
    {{#if .}}
      <h4>Request Example</h4>
      {{json_from_string .}}
    {{/if}}
  {{/each}}
  {{#each responses}}
    {{body}}
    <h4>{{response_code code}}</h4>
    <p>{{type}}</p>
    {{#if example}}
      {{json_from_string example}}
    {{/if}}
  {{/each}}
</div>
{{/each}}
