<div class="security-scheme">
<h2 id="security:{{@key}}" class="anchor">
  <a href="#security:{{@key}}">
    <span class="pull-right label label-default">
      <span class="glyphicon glyphicon-lock"></span>
      {{type}}
    </span>
    {{@key}}
  </a>
</h2>
<div class="content">
{{#if description}}
  <p>{{markdown description}}</p>
  {{#with describedBy}}
    {{#if headers}}
      {{#> custom-parameters type="Headers" params=headers}}
        {{> parameters type="Headers" params=headers}}
      {{/ custom-parameters}}
    {{/if}}
    {{#if queryParameters}}
      {{#> custom-parameters type="Query Parameters" params=queryParameters}}
        {{> parameters type="Query Parameters" params=queryParameters}}
      {{/ custom-parameters}}
    {{/if}}
    <h3>Responses</h3>
    {{#each responses}}
      <h4>{{responseCode @key}}</h4>
      <p>{{type}}</p>
      {{#if description}}
        <p>{{description}}</p>
      {{/if}}
    {{/each}}
  {{/with}}
{{/if}}
</div>
</div>
