<div class="card">
<h3 id="security:{{@key}}" class="anchor">
  <a href="#security:{{@key}}">
    <span class="pull-right label label-default">
      <span class="glyphicon glyphicon-lock"></span>
      {{type}}
    </span>
    {{@key}}
  </a>
</h3>
<div>
{{#if description}}
  <p>{{markdown description}}</p>
  {{#with describedBy}}
    {{#if headers}}
      {{> parameters type="Headers" params=headers}}
    {{/if}}
    <h4>Responses</h4>
    {{#each responses}}
      <h4>{{responseCode @key}}</h4>
      <p>{{type}}</p>
      {{#if description}}
        <p>{{description}}</p>
      {{/if}}
    {{/each}}
  {{/with}}
{{/if}}
</div>
</div>
